
header, body, footer, a {    
    background-color: #000000;
    color: #FFFFFF;
}



ul {
    display: initial; /* Reverte para o valor inicial (inline) */
    list-style-type: initial; /* Reverte para o valor inicial (disc) */
    margin-block-start: initial; /* Reverte para o valor inicial (0) */
    margin-block-end: initial; /* Reverte para o valor inicial (0) */
    margin-inline-start: initial; /* Reverte para o valor inicial (0) */
    margin-inline-end: initial; /* Reverte para o valor inicial (0) */
    padding-inline-start: initial; /* Reverte para o valor inicial (0) */
    unicode-bidi: initial; /* Reverte para o valor inicial (normal) */
    text-decoration: none; /* tira o sublinhado*/
    list-style-type: none;
  }

header{    
    width: 100%;      
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-between; /* Distribui os itens com 
    espaço entre eles nas extremidades */
}

code{
    font-family: Fira Code;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.49px;
    letter-spacing:-0.1em; reduzi o espaço entre os caracteres em 0.1em. */    
}

#container-menu-principal{
    font-family: Archivo;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.58px;
    list-style: none; /* Remove os marcadores padrão da lista */
    flex-direction: row; /* Define a direção dos itens como linha (horizontal) */
    display: flex;
    align-items: center;
}

.menu-principal{
    font-family: Archivo;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.58px;
    margin-right: 30px;
    text-decoration: none;
}

.menu-principal:hover, .link-contato:hover, .contato-item a:hover {
    transition: color 0.50s;
    color: #d24d6c; /* Muda a cor do texto*/
}

#cabecalho{
    display: flex; /* Ativa o layout flexbox para o cabeçalho */
    align-items: center; /* Alinha os elementos verticalmente no centro */
    justify-content: space-between; /* Distribui os elementos horizontalmente com espaço entre eles */
    margin: 0 auto; /* Centraliza o container na tela */
    padding: 20px; /* Adiciona espaço interno ao cabeçalho esse espaço vem por fora da section*/
}

.apresentacao{   
    font-family: Archivo;
    font-size: 24px;
    font-weight: 300;
    line-height: 26.11px;
    text-align: left;
    display: flex;
    margin: 0;
    gap: 20px;
}

#cabecalho h1{
    font-family: Archivo;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.22px;
    text-align: left;
    margin: 0;
    color: #d24d6c;
}

#btnDownloadCurriculo{
    background-color: #d24d6c;
    border-radius: 4px;
    margin: 20px 20px 0 0; 
}

#btnDownloadCurriculo:hover{
    color: #ee2853;
    background-color:#d24d6c;

    border-radius: 10px;
}

.cabecalho-img{ NÃO FUNCIONA    
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    text-align: center;
    display: flex;
    width: 50%;
}

.titulos{
    font-family: Archivo;
    font-size: 32px;
    font-weight: 400;
    line-height: 34.82px;
    text-align: center;
    color: #8f2f45;
    font-family: Archivo;
    /* ************************** border: #2dea3d solid;*/
}

#sobre-mim p{
    font-family: Archivo;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.container-contato{
    display: flex;    
    justify-content: center; /* Centraliza os itens na horizontal */
    
}

.contato-item{
    display: flex;
    justify-content: center; /* Centraliza os itens na horizontal */
    
}

.contato-item img{
    width: 52px;
    height: 52px;
    padding: 25px;
    color: #ffffff;
    transition: color 0.4s ease;
}

.contato-item img:hover {
    transform: translateY(-10px); /* Move 10px para cima no hover */
    filter: brightness(60%); /*escurece a imagem */   
}


  
  #container-projetos {
    width: 100%;
    display: flex; /* Define o layout do article como flexbox */
    flex-wrap: wrap; /* Permite que os itens flex sejam quebrados em várias linhas */
    justify-content: center; /* Centraliza os itens flex dentro do article */
    /* ****************border: green solid;*/
}
  
  .caixa-projeto {
    width: 45%; /* Define a largura das caixas como 45% */
    margin: 10px; /* Adiciona uma margem de 10 pixels em todos os lados */   
    padding: 10px; /* Adiciona um preenchimento interno de 10 pixels em todos os lados */
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1em;
    
    /* ****************** border: red solid;*/
  }

  .container-img-projeto {
    text-align: center; /* Centraliza o texto dentro do container de imagem */
    /* **************** border: #eca026 solid;*/
  } 
 
  .container-img-projeto img {
    /* **************** border: #2dea3d solid;*/
    width: 100%; /* Define a largura da imagem para 100% do container */
    height:10em; /* Define a altura da imagem para aproximadamente 192px */
    object-fit: cover; /* Faz com que a imagem cubra o container sem distorção */
  }
  
  .container-detalhes-projeto {
    /* **************** border: #007bff solid;*/
    text-align: left;
  }
  
  .container-detalhes-projeto h3 {
    font-family: Archivo;
    font-size: 24px;
    font-weight: 500;
    line-height: 26.11px;
    text-align: left;
  }
  
  .container-detalhes-projeto p {
    font-family: Archivo;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.58px;
    text-align: left;
  }
  
  .icones-tec {
    display: flex; /* Define o layout como flexbox */    
    text-align: left; 
    align-items: center;  
  }
  
  .icones-tec li {
    /* **************** border: #d24d6c solid;*/
    margin-right: 20px; /* Adiciona 20px de margem à direita */     
    width: 3em; /* Define a largura da imagem para 30 pixels */
    height: 3em; /* Define a altura da imagem para 30 pixels */
    text-align: left;  não funciona  
  }
  
  .icones-tec li img {
    border: rgb(206, 206, 58) solid;
    text-align: left;não funciona
    align-items: center; não funciona
    margin-right: 1.5em; /* Adiciona 10px de margem à direita */
    width: 100%; /* Define a largura da imagem para 30 pixels */
    height: 100%; /* Define a altura da imagem para 30 pixels */
    object-fit: cover; /* Faz com que a imagem cubra o container sem distorção */
  }
  
  .container-botoes-projeto {
    display: flex; /* Define o layout como flexbox */
    justify-content: left; /* Centraliza os botões dentro do container */
    margin-right: 25px; /* Adiciona 32px de margem à direita */
  }
  
  .container-botoes-projeto button {
    background-color:#d24d6c; /* Define a cor de fundo dos botões*/
    color: #fff; /* Define a cor do texto dos botões como branco */
    border: none; /* Remove qualquer borda padrão */
    padding: 10px 15px; /* Adiciona um preenchimento interno de 10px em cima/baixo e 15px nas laterais */
    border-radius: 5px; /* Arredonda os cantos dos botões com um raio de 5 pixels */
    cursor: pointer; /* Define o cursor como pointer ao passar sobre os botões */
    margin: 0 20px 0 0; /* Adiciona uma margem de 5 pixels nas laterais dos botões */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave de 0.3s para a cor de fundo */
  }
  
  .container-botoes-projeto button:hover {
    background-color:#ee2853; /* Muda a cor de fundo dos botões para um azul mais escuro ao passar o mouse */
  }

#container-habilidades{
    /* **************** border: #eca026 solid;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center
}

.habilidades-icones{
    width: 4em ;
    height: 4em;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    object-fit: cover; /* Faz com que a imagem cubra o container sem distorção */
  }

  
  

footer{
    /* **************** background: brown;*/
     : 2px solid #eca026;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


footer div{
    /* **************** background: green;*/
     : 2px solid #2dea3d;
    width: 50%;
    display: flex;
    align-items: center;    
    justify-content: center;
   
}

footer div a{
    font-family: Archivo;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.58px;
    margin-right: 30px;
    text-decoration: none; /* tira o sublinhado*/
    transition: color 0.3s, background-color 0.3s; /* Transição suave para as mudanças */

}